In [1]:
import pandas as pd
from CleanTextFunction import *

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Tatiksha\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\Tatiksha\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [2]:
df = pd.read_csv('lotr_scripts.csv')

In [3]:
df.head()

,char,Line,movie
0,DEAGOL,"Oh Smeagol Ive got one! , Ive got a fish Smeag...",The Return of the King
1,SMEAGOL,"Pull it in! Go on, go on, go on, pull it in!",The Return of the King
2,DEAGOL,Arrghh!,The Return of the King
3,SMEAGOL,Deagol!,The Return of the King
4,SMEAGOL,Deagol!,The Return of the King

In [4]:
#overall lines spoken by speaker >10 lines
#speakers = df.groupby(['char']).size().loc[df.groupby(['char']).size() > 10]

In [5]:
df['Line']= df['Line'].astype(str)

In [6]:
#running clean text function on df  --> "Line" column (which has the dialogue)
# text = []

# for line in df.Line:
#     text.append(clean_text(line))

In [7]:
#adding cleaned text as a column called 'cleaned' to df
df = df.assign(cleaned = df.Line.apply(clean_text))

In [8]:
df.head()

,char,Line,movie,cleaned
0,DEAGOL,"Oh Smeagol Ive got one! , Ive got a fish Smeag...",The Return of the King,"[oh, smeagol, ive, got, one, , ive, got, fish,..."
1,SMEAGOL,"Pull it in! Go on, go on, go on, pull it in!",The Return of the King,"[pull, go, go, go, pull]"
2,DEAGOL,Arrghh!,The Return of the King,[arrghh]
3,SMEAGOL,Deagol!,The Return of the King,[deagol]
4,SMEAGOL,Deagol!,The Return of the King,[deagol]

In [9]:
# no. of 'cleaned' words per line (excludes stop words)
df = df.assign(line_length = df.cleaned.apply(lambda x: len(x)))

In [10]:
df.head()

,char,Line,movie,cleaned,line_length
0,DEAGOL,"Oh Smeagol Ive got one! , Ive got a fish Smeag...",The Return of the King,"[oh, smeagol, ive, got, one, , ive, got, fish,...",11
1,SMEAGOL,"Pull it in! Go on, go on, go on, pull it in!",The Return of the King,"[pull, go, go, go, pull]",5
2,DEAGOL,Arrghh!,The Return of the King,[arrghh],1
3,SMEAGOL,Deagol!,The Return of the King,[deagol],1
4,SMEAGOL,Deagol!,The Return of the King,[deagol],1

In [11]:
#running the line_length on the 'cleaned' column
#df['cleaned'] = df['cleaned'].apply(lambda x: ' '.join([item for item in x]))

In [12]:
df.describe()

       line_length
count  2390.000000
mean      5.567782
std       6.484825
min       0.000000
25%       2.000000
50%       4.000000
75%       7.000000
max      76.000000

In [13]:
# No. words spoken by characters
df.groupby(['char','line_length']).size().sort_values(ascending=False)

char              line_length
FRODO             1              49
SAM               2              46
PIPPIN            1              46
ARAGORN           1              43
                  2              41
FRODO             2              37
MERRY             1              36
SAM               3              29
PIPPIN            2              29
FRODO             3              29
SAM               4              27
MERRY             2              27
FRODO             4              25
GANDALF           2              25
                  3              24
GOLLUM            1              23
GIMLI             1              23
SAM               1              23
FRODO             5              21
GANDALF           1              21
                  7              20
PIPPIN            4              20
                  3              19
THEODEN           3              19
                  2              19
                  1              18
GIMLI             2              18
EOWYN             1              17
MERRY             3              17
FRODO             6              17
                                 ..
MERRY and PIPPIN  3               1
                  33              1
KING OF THE DEAD  14              1
                  4               1
GRIMA             22              1
KING OF THE DEAD  3               1
GRIMA             28              1
GRIMBOLD          5               1
GRISHNAK          7               1
GRISHNAKH         2               1
                  3               1
                  5               1
                  7               1
HALDIR            1               1
                  3               1
                  6               1
HAMA              1               1
                  2               1
                  3               1
                  5               1
                  9               1
                  10              1
HOBBIT            2               1
                  3               1
                  6               1
IROLAS            2               1
                  3               1
                  6               1
KING OF THE DEAD  1               1
(GOLLUM           1               1
Length: 626, dtype: int64